<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>myvuecodetwo</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="app" class="container" v-cloak>
    <button class="btn btn-primary" @click="test">axios请求本地资源</button>
    <button class="btn btn-primary" @click="visit">axios请求后端数据</button>
    <ul class="list-unstyled">
      <li v-for="(i, index) in items">{{ index }} - {{ i }}</li>
    </ul>

    <table class="table">
      <caption class="text-center text-primary">
        <h2>学生信息表</h2>
      </caption>
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">姓名</th>
          <th class="text-center">性别</th>
          <th class="text-center">年龄</th>
          <th class="text-center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center text-muted" v-for="(stu, index) in backstageData">
          <td>{{ stu.stuid }}</td>
          <td>{{ stu.name }}</td>
          <td>{{ stu.sex }}</td>
          <td>{{ stu.age }}</td>
          <td><button class="btn btn-primary" @click="del(index, stu.stuid)">删除</button></td>
        </tr>
        <tr v-if="backstageData.length==0">
            <td colspan="5" class="text-center text-muted">暂无数据...</td>
          </tr>
          <tr v-if="backstageData.length>0">
            <td colspan="5" class="text-right">
              <button class="btn btn-danger" @click="delAll">全部删除</button>
            </td>
          </tr>
      </tbody>
    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              确定要删除吗？
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-darger" @click="confirm">确认</button>
            </div>
          </div>
        </div>
      </div>

  </div>
</body>

</html>